layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{mode}#[bg=#21202E] {tabs}"
                format_center ""
                format_right  "#[bg=#ebbcba,fg=#191724,bold]  #[bg=#403D52,fg=#ebbcba,bold] {session} #[bg=#21202E] #[bg=#403D52,fg=#9CCFD8,bold] {datetime}  "
                format_space  ""

                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#403D52]{char}"
                border_position "top"

                mode_normal        "#[bg=#9CCFD8,fg=#21202E,bold] NORMAL#[bg=#21202E,fg=#9CCFD8]█"
                mode_locked        "#[bg=#403D52,fg=#21202E,bold] LOCKED #[bg=#21202E,fg=#403D52]█"
                mode_resize        "#[bg=#EB6F92,fg=#21202E,bold] RESIZE#[bg=#21202E,fg=#EB6F92]█"
                mode_pane          "#[bg=#31748F,fg=#21202E,bold] PANE#[bg=#21202E,fg=#31748F]█"
                mode_tab           "#[bg=#C4A7E7,fg=#21202E,bold] TAB#[bg=#21202E,fg=#C4A7E7]█"
                mode_scroll        "#[bg=#F6C177,fg=#21202E,bold] SCROLL#[bg=#21202E,fg=#F6C177]█"
                mode_enter_search  "#[bg=#31748F,fg=#21202E,bold] ENT-SEARCH#[bg=#21202E,fg=#31748F]█"
                mode_search        "#[bg=#31748F,fg=#21202E,bold] SEARCHARCH#[bg=#21202E,fg=#31748F]█"
                mode_rename_tab    "#[bg=#C4A7E7,fg=#21202E,bold] RENAME-TAB#[bg=#21202E,fg=#C4A7E7]█"
                mode_rename_pane   "#[bg=#31748F,fg=#21202E,bold] RENAME-PANE#[bg=#21202E,fg=#31748F]█"
                mode_session       "#[bg=#9CCFD8,fg=#21202E,bold] SESSION#[bg=#21202E,fg=#9CCFD8]█"
                mode_move          "#[bg=#EBBCBA,fg=#21202E,bold] MOVE#[bg=#21202E,fg=#EBBCBA]█"
                mode_prompt        "#[bg=#31748F,fg=#21202E,bold] PROMPT#[bg=#21202E,fg=#31748F]█"
                mode_tmux          "#[bg=#F6C177,fg=#21202E,bold] TMUX#[bg=#21202E,fg=#F6C177]█"

                tab_normal              "#[bg=#21202E,fg=#31748F]█#[bg=#31748F,fg=#191724,bold]{index} #[bg=#403D52,fg=#31748F,bold] {name}{floating_indicator}#[bg=#21202E,fg=#403D52,bold]█"
                tab_normal_fullscreen   "#[bg=#21202E,fg=#31748F]█#[bg=#31748F,fg=#191724,bold]{index} #[bg=#403D52,fg=#31748F,bold] {name}{fullscreen_indicator}#[bg=#21202E,fg=#403D52,bold]█"
                tab_normal_sync         "#[bg=#21202E,fg=#31748F]█#[bg=#31748F,fg=#191724,bold]{index} #[bg=#403D52,fg=#31748F,bold] {name}{sync_indicator}#[bg=#21202E,fg=#403D52,bold]█"

                tab_active              "#[bg=#21202E,fg=#F6C177]█#[bg=#F6C177,fg=#191724,bold]{index} #[bg=#403D52,fg=#F6C177,bold] {name}{floating_indicator}#[bg=#21202E,fg=#403D52,bold]█"
                tab_active_fullscreen   "#[bg=#21202E,fg=#F6C177]█#[bg=#F6C177,fg=#191724,bold]{index} #[bg=#403D52,fg=#F6C177,bold] {name}{fullscreen_indicator}#[bg=#21202E,fg=#403D52,bold]█"
                tab_active_sync         "#[bg=#21202E,fg=#F6C177]█#[bg=#F6C177,fg=#191724,bold]{index} #[bg=#403D52,fg=#F6C177,bold] {name}{sync_indicator}#[bg=#21202E,fg=#403D52,bold]█"

                tab_separator           "#[bg=#21202E] "

                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                datetime        "{format}"
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/London"
            }
        }
        children
    }
}
